## Tuple
1. immutable
2. using () they are separated,
3. indexing,ordered
4. supports duplicate values
5. supports heteregeneous values

In [1]:
t=(1,2,3.45,'Hey',True)

In [2]:
t[2]

3.45

In [3]:
#as we cannot replace any elements in tuple once created the only way it can be done is by creating a list i.e
l=list(t)

In [4]:
l

[1, 2, 3.45, 'Hey', True]

In [5]:
l[2]=7

In [6]:
l

[1, 2, 7, 'Hey', True]

In [9]:
t=tuple(l)

In [10]:
t

(1, 2, 7, 'Hey', True)

In [11]:
#this is the only way

In [12]:
t.count(2)

1

In [13]:
t.index('Hey')

3

In [14]:
t

(1, 2, 7, 'Hey', True)

In [16]:
#unpacking
a,b,c,d,e = t

In [17]:
a

1

In [18]:
b

2

In [21]:
#packing, if we assign multiple values to a single variable then it forms a tuple
x= 10,20,30

In [22]:
type(x)

tuple

In [24]:
#tuple with single element
y= (10,)

In [25]:
type(y)

tuple

In [26]:
for ele in x:
    print(ele)

10
20
30

# set
1. no duplicate values
2. {}
3. unindexed
4. unordered
5. mutable

In [27]:
set1 = {1,2,34,1,2,3}

In [28]:
set1

{1, 2, 3, 34}

In [29]:
#sets always give unique values and gives output in a sorted manner

# Built-in functions
1. len()
2. min()
3. max()
4. set()

In [30]:
set1

{1, 2, 3, 34}

In [31]:
len(set1)

4

In [32]:
min(set1)

1

In [33]:
max(set1)

34

In [34]:
set(set1)

{1, 2, 3, 34}

In [35]:
set2=set()

# Built-in Methods
1. add()
2. remove()
3. discard()
4. clear()
5. pop()

In [58]:
set2=set()
set2.add(12)
set2.add(11)
set2.add(17)
set2.add(21)
set2

{11, 12, 17, 21}

In [59]:
set2.discard(17) #discards a particular element from set

In [60]:
set2

{11, 12, 21}

In [61]:
set2.pop() # pops out the first eleement in set

11

In [56]:
set2.clear()

In [57]:
set2

set()

In [62]:
set2.remove(12) #works same as discard

In [63]:
set2

{21}

In [64]:
set1={1,2,3,4}

In [65]:
set1

{1, 2, 3, 4}

In [68]:
#diff b/w discard and remove is
set1.remove(5) #we know that set1 has no element 5 so it gave an error there is no 5 in set,but discard gives result as

KeyError: 5

In [69]:
set1.discard(5) # it doesn't throw any error unlike remove this is only diff b/w these 2.

In [70]:
set1

{1, 2, 3, 4}

In [74]:
#union,difference,intersection
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.union(b))
print(a.difference(b))
print(b.difference(a))
print(a.intersection(b))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [77]:
c={1,2,3,4,5,6,7,8,9,10}
a.issubset(c)

True

In [78]:
b.issubset(c)

True

In [79]:
c.issuperset(a)

True

In [80]:
c.issuperset(b)

True

In [84]:
x={1,2}
y={3,4}
x.isdisjoint(y) #no common element

True

In [85]:
#symmetric difference removes the common elements
a.symmetric_difference(b)

{1, 2, 6, 7}

In [86]:
a

{1, 2, 3, 4, 5}

In [87]:
b

{3, 4, 5, 6, 7}

In [88]:
#to make changes in set
a.update(b)

In [89]:
a

{1, 2, 3, 4, 5, 6, 7}

In [90]:
a.intersection_update(b)

In [91]:
a

{3, 4, 5, 6, 7}

# Dictionary
1. key1:value1, key2: value2
2. rules
3. key should be unique
4. they are immutable like tuple,numerics,string

In [92]:
dict1={'key1':"hi",'key2':"hey",'key2':"hello"  }

In [93]:
dict1['key2']

'hello'

In [94]:
del dict1['key2']

In [95]:
dict1

{'key1': 'hi'}

In [96]:
dict1['key3']='rey'

In [97]:
dict1

{'key1': 'hi', 'key3': 'rey'}

# Built-in Methods
1. keys()
2. values()
3. items()

In [101]:
dict1.keys()

dict_keys(['key1', 'key3'])

In [102]:
dict1.values()

dict_values(['hi', 'rey'])

In [103]:
dict1.items()

dict_items([('key1', 'hi'), ('key3', 'rey')])

In [104]:
dict1.get('key1')

'hi'

In [105]:
#adding one dictionary to another
d={'key4':1,2:2}

In [106]:
dict1.update(d)

In [107]:
dict1

{'key1': 'hi', 'key3': 'rey', 'key4': 1, 2: 2}

In [117]:
dict1.pop('key3')

'rey'

In [118]:
dict1.popitem()

('key4', 1)