## Strings
1. " " or ' '(chracters)-->'a'
2. immutable --> we cannot make any changes
3. collection of chracters enclosed by quotation marks --> iterable Object

In [1]:
s1 = input("enter a string")
s2 = 'good morning'
print(type(s1),type(s2))

enter a stringhello
<class 'str'> <class 'str'>

In [5]:
#operators : +,*(repitition),[](slice),[start:stop](slice range)

print(s1 + s2) #concatenation
print(s1 * 3)  #repitition
print(s1[4]) #slicing         of Hello
print(s1[-1]) #slicing
print(s1[2:])#start=0,stop=length of string,step=1

hellogood morning
hellohellohello
o
o
llo

In [6]:
print(s1[0:5])
print(s1[:]) # same output

hello
hello

In [7]:
#print alternate chracters of string
print(s1[::2])

hlo

In [9]:
#accept a string from the user and chek wheather it is palin drome or not

s3 = input("enter a string")
if s3 == s3[::-1]:
    print('palindrome')
else:
    print('not palindrome')

enter a stringmadam
palindrome

In [12]:
n = int(input('enter a number'))
if str(n)==str(n)[::-1]:
     print('palindrome')
else:
    print('not palindrome')

enter a number121
palindrome

In [15]:
s4 = "python"
print("on" in s4)
print("xyz" in s4)
print("on" not in s4)
print("xyz" not in s4)

True
False
False
True

### Built-in Functions:
1. len()->length of string
2. max()
3. min()
4. str() -->converting any data type to string

In [20]:
s="hello"
s1="abc123"
print(len(s))
print(max(s))
print(min(s))
print(max(s1))
print(min(s1))

5
o
e
c
1

In [21]:
ord('a')

97

In [22]:
chr(97)

'a'

### Built in Method:
1. capitalize()--> first letter is capital
2. isalpha()--> returns true if all characters are in aplabets
3. isdigit()-->returns true if all characters are in numeric
4. isalnum()-->returns true if all characters are in aplabets and numeric
5. isupper()
6. islower()
7. upper()
8. lower()
9. swapcase()

In [28]:
s = "hello"
print(len(s))#function name(object name)
s = s.capitalize() #object name.method name()
print(s)

5
Hello

In [30]:
s1= 'hello'
s2= 'abc123'
s3= '123'
print(s1.isalpha())
print(s1.isdigit())
print(s1.isalnum())
print(s2.isalpha())
print(s2.isdigit())
print(s2.isalnum())
print(s3.isalpha())
print(s3.isdigit())
print(s3.isalnum())

True
False
True
False
False
True
False
True
True

In [33]:
s1 = 'python'
s2 = 'PYTHON'
print(s1.isupper())
print(s2.isupper())
print(s1.islower())
print(s2.islower())

False
True
True
False

In [36]:
print(s1.upper())
print(s1.lower())
print(s1.swapcase())

PYTHON
python
PYTHON

In [38]:
s ="PYthON"
print(s.swapcase())

pyTHon

In [39]:
s='abc  abc abc'
s.count('abc') #count returns frequency of the given string

3

In [42]:
#split()--. return type is list
print(s.split())
s1 ='a,b,c,d'
s1.split(',')

['abc', 'abc', 'abc']

['a', 'b', 'c', 'd']

In [45]:
#replace--> replaces old chracter with new one syntax: string.replace(oldvalue, newvalue, count)

s= 'abc'
#s[1] = 'z'
s=s.replace('b','z')
print(s)

azc

In [56]:
#accept a number from the user and remove nth position chracter from the string
#n=3
#s='abcabc'
#output = abcabc
n = int(input('enter position :'))
s= input('enter a string :')
print(s.replace(s[n-1],"",1))

enter position :3
enter a string :abcabc
ababc

In [47]:
s1

'bc'

###  for loop:
1. for loop with range() function
2. for loop with iterable object

\\\for variable_name in range(start,stop,step):
       statements\\\

In [62]:
#print 1-n numbers on the screen
#by using for loop
n=10
for i in range(1,n+1):
    print(i,end="\n")
print()
 
    #by using while loop
i=1
while i<=n:
    print(i,end=" ")
    i +=1

1
2
3
4
5
6
7
8
9
10

1 2 3 4 5 6 7 8 9 10

In [68]:
s="python"
for i in s:
    print(i)
    
    
#using while loop print all the chracters of your string vertically
i=0
while (i < len(s)):
    print(s[i],end=" ")
    i += 1

p
y
t
h
o
n
p y t h o n

In [69]:
#using for loop but should not use iterable object
for j in range(0,len(s)):
    print(s[j])

p
y
t
h
o
n