# CSE-221710308039-VINAY

In [3]:
import pandas as pd
import numpy as np

In [4]:
#1.Write a Python program to add, subtract, multiple and divide two Pandas Series. 

s1=pd.Series([2, 4, 6, 8, 10])
s2=pd.Series([1, 3, 5, 7, 9])
add=list(s1+s2)
sub=list(s1-s2)
mul=list(s1*s2)
div=list(s1/s2)
print("addition:",add)
print("subtraction:",sub)
print("multiplication:",mul)
print("division:",div)

addition: [3, 7, 11, 15, 19]
subtraction: [1, 1, 1, 1, 1]
multiplication: [2, 12, 30, 56, 90]
division: [2.0, 1.3333333333333333, 1.2, 1.1428571428571428, 1.1111111111111112]

In [9]:
#2.Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. 

nstate= np.random.RandomState(100)
nseries = pd.Series(nstate.normal(10, 4, 20))
print("Original Series:")
print(nseries)
result = np.percentile(nseries, q=[0, 25, 50, 75, 100])
print("\nminimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [10]:
#3.Write a Pandas program to get the items of a given series not present in another given series.

sr1=pd.Series([1,2,3,4,5])
sr2=pd.Series([2,4,6,8,10])
print("Original")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nitems of sr1 not present in sr2:")
out = sr1[~sr1.isin(sr2)]
print(out)

Original
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

items of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

In [6]:
#4.Write a Pandas program to filter words from a given series that contain at least two vowels. 

from collections import Counter
color= pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(color)
print("vowels greater than 2:")
out = color.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color[out])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object
vowels greater than 2:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [7]:
#5.Consider the following as my DataFrame,Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

exam= {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
s= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
ex = pd.DataFrame(exam,index=s)
ex

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [8]:
print(ex[(ex['attempts'] > 2)])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes